*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body{
  /* background-color: black; */
  background-color: #262329;
  color: aliceblue;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  overflow-x: hidden;

}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(183, 183, 183);
  border-radius: 20px;
}